.tab {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 200px;
  background-color: white;
  z-index: 1000; /* 根据需要调整z-index值，确保它位于其他内容之上 */

  .tab_list {
    width: 400px;
    display: flex;

    li {
      padding: 20px;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: #f0f0f0;
        font-weight: bold;
      }
    }
  }
}
