.tab {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
  .left {
    img {
      width: 120px;
      height: 120px;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    ul {
      padding: 10px 0 10px 20px;
      width: 150px;
      position: absolute;
      top: 140px;
      background-color: white;
      font-size: 20px;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: #ac0202;
        }
      }
    }
    .contact {
      padding: 10px;
      background-color: rgb(255, 99, 141);
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
    img {
      height: 30px;
      width: 30px;
      margin-right: 40px;
      cursor: pointer;
    }
  }
}
